body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 30px;
    background-image: url(image/portable.jpg);
}

img{
    width: 100px;
    height: auto;
}

.perle{
    display: flex;
    justify-content: center; 
    flex-direction: row;
    align-items: center;